body{
	background: #f9eac7;
    min-height: 100vh;
	margin: 0;
	position: relative;
	padding-bottom: 100px;
	color: #58272d;
	font-family: calibri !important;
	font-size: 17px;
}
button{
	background: #58272d !important;
	border: #58272d !important;
}
table{
	font-family:calibri;
	text-align:center;
	text-color:black;
}

div.productos{
	width:840px;
	height:300px;
}

div.producto{
	width:200px;
	height:350px;
	border-radius:15px;
	float:right;
	margin-left:10px;
	border: 1px solid black;
}

div.imagen-producto{
	width:160px;
	height:160px;
	border-radius:15px;
	margin-top:20px;
}

div.nombre-producto{
	width:160px;
	height:45px;
	border-radius:15px;
	margin-top:10px;
}

div.precio-producto{
	width:160px;
	height:25px;
	border-radius:15px;
	margin-top:10px;
}

div.alert{
	border-radius:15px !important;
}

input{
	background: #f9eac7 !important;
	border: 1px solid #58272d !important;
}

input[type="file"]{
	border:transparent !important;
}

select{
	background: #f9eac7 !important;
	border: 1px solid #58272d !important;
}